<div class="flex-box container-box">
  <div class="content-box border border" >
    <form action="/lista" method="GET">
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" name="nome" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o Nome...">
        
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    
    </div>
</div>